html {
  background: url("img/starrynight.png") center no-repeat fixed;
  background-size: cover;
}

body {
  background: rgba(255, 255, 255, 0.75);
  width: 600px;
  padding: 25px 50px;
  margin: 25px auto;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 600px;
}

#qtn-in {
  height: 25px;
  width: 600px;
  color: green;
  font-size: 20px;
}

#img-in {
  display: block;
  margin: auto;
  width: 60%;
  opacity: 0.95;
  cursor: pointer;
  border-radius: 50%;
}

h2,
h3 {
  font-size: 20px;
}
